/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 30, 2022, 2:23:05 AM
    Author     : manar
*/


#logo {
    width: 120px;
    height: 120px;
    margin-top: -35px;
    margin-left: 35px;
}

.topnav button{
    background-color: #FC7091;
    border-radius: 15px;
    border: none;
    float: right;
    font-family: "Times New Roman", Times, serif;
    color: white;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    height: 38px;
    width:140px;
    margin: 10px;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    position:relative;
    top:15px;
}

.topnav a {
    float: left;
    color: #EF4D64;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
    position:relative;
    top:15px;
    left:90px;

}

.topnav a:hover {
    color: black;
}


.topnav img{
    float: left;
    padding: 10px 10px;
    height: 40px;
}

.topnav {
    overflow: hidden; 
}

.topnav a:active{
  text-decoration: underline;
}
.section1 {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
 .footer-distributed {
            background-color: #d6c5c5;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
            box-sizing: border-box;
            width: 100%;
            top:160%;
            position: absolute;
            text-align: left;
            font: bold 16px sans-serif;
            padding: 55px 50px;
        }
     
        

            .footer-distributed .footer-left,
            .footer-distributed .footer-center,
            .footer-distributed .footer-right {
                display: inline-block;
                vertical-align: top;
            }

            /* Footer left */

            .footer-distributed .footer-left {
                width: 40%;
		padding-top:50px;
            }


            /* Footer links */

            .footer-distributed .footer-links {
                color: black;
                margin: 20px 0 12px;
                padding: 0;
            }

                .footer-distributed .footer-links a {
                    display: inline-block;
                    line-height: 1.8;
                    font-weight: 400;
                    text-decoration: none;
                    color: inherit;
                }

           

            .footer-distributed .footer-links a:before {
                content: "|";
                font-weight: 300;
                font-size: 20px;
                left: 0;
                color: black;
                display: inline-block;
                padding-right: 5px;
            }

            .footer-distributed .footer-links .link-1:before {
                content: none;
            }
            
              .footer-distributed .footer-right {
                width: 20%;
            }

            .footer-distributed .footer-company-about {
                line-height: 20px;
                color: black;
                font-size: 13px;
                font-weight: normal;
                margin: 0;
            }

                .footer-distributed .footer-company-about span {
                    display: block;
                    color: black;
                    font-size: 25px;
                    font-weight: bold;
                    margin-bottom: 20px;
                }


          
                
                

           